mavici = 003F93
Light = 005DE1
azul-intenso = 1874FF
zoolander = 5CA3FF
blue-boy = D7E1FF

body
	background-color blue-boy
	
header 
	background-color azul-intenso
	box-sizing: border-box
	display block
	width 100%
	text-align center
	padding 10px 10px

.menu
	background-color Light
	
.logo
	width 250px
	text-align center
	background-color blue-boy
	border-radius 10px
	display inline-block
	
.logo img
	width 200px

