mavici=#003F93
Light=#005DE1
azul-intenso=#1874FF
zoolander=#5CA3FF
blue-boy=#D7E1FF

body
	background-color blue-boy
	font-family Roboto
	font-weight 300

footer
	background-color mavici
	color blue-boy
	display block
	padding 20px
	box-sizing border-box
	
footer div p
		color blue-boy
	
h2
	color mavici
	font-family Roboto
	font-size 35px
	font-weight 300
	margin 0 
	padding 0
	
header 
	-moz-background: linear-gradient(to right, Light, blue-boy, Light)
	-webkit-background: linear-gradient(to right, Light, blue-boy, Light)
	background: linear-gradient(to right, Light, blue-boy, Light)
	box-sizing: border-box
	display block
	padding 55px 0 0 0
	position relative
	text-align center
	width 100%

input 
	display block
	width 98%
	border-radius 5px
	border 1px solid Light
	margin 0 0 10px 0
	padding 5px

nav
	position fixed
	/*background-color Light*/
	background rgba(0,93,225,1)
	width 100%
	top 0
	padding 0
	color blue-boy
	text-align center
	/*margin-left auto
	margin-right auto
	right 0
	left 0*/
	display none
	
	ul 
		margin 0 
		padding 0

	ul li 
		display inline-block
		width 100%
		text-decoration none
		margin 0 0
		padding 0
		
		a 
			/*border 2px solid mavici*/
			display inline-block
			padding 24px 15px
			/*border-radius 10px*/
			background-color Light
			margin 0
			font-size 25px
			font-weight 300
			text-decoration none
		
		a:hover
			background-color mavici
			color mavici
			text-decoration none
		
		a:visited
			color blue-boy

p 
	color mavici

section
	box-sizing border-box
	display inline-block
	margin 0
	/*padding 15px 10px */

	h2
		text-align center
	div 
		padding 15px 15px
		margin 0

.botonMenu
	position fixed
	z-index 10
	top 10px
	color blue-boy
	font-size 25	px
	right 10px
	display inline-block
	background rgba(0,93,225,.6)
	/*background-color mavici*/
	border-radius 5000px
	border 0
	padding 5px 10px

.icon-footer
	text-align left
	display inline-block
	vertical-align top

.ilustracion
	background url('../images/glases.jpg')
	height 300px
	background-size cover

.ilustracion2
	background url('../images/factory.jpg')
	height 300px
	background-size cover

.item-footer
	display block
	width 250px
	margin 0 auto
	p
		display inline-block
		width 220px
		margin 0 0 10px 10px

.divImpar
	background-color mavici
	
	p
		color blue-boy
	
	h2
		color blue-boy

.productos, .productos2 
	text-align center
	display block
	
	p 
		text-align left
		
	ul 
		margin 0 
		padding 0
		
		li 
			display inline-block
			text-decoration none
			margin 0 0 5px 0
			
			img 
				width 150px
				padding 5px
				margin 5px
		

.headerSlide
	margin 0
	padding 0
	width 100%
	height 200px
	background url('../images/slide/slideImage2.jpg')
	background-size cover
	overflow hidden
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	
	img 
		margin 0
		padding 0
		width 100%
	
	ul 
		padding 0
		display flex
		width 400%
		animation deslizar 20s infinite alternate ease
	
	li
		list-style none
		width 100%

.menu
	background-color Light
	
.logo
	background-color blue-boy
	border-radius 10px
	box-sizing border-box
	display inline-block
	left 0
	margin 5px
	margin-left auto
	margin-right auto
	position absolute
	right 0
	text-align center
	top 1px
	width 200px
	
.logo img
	width 175px

.productList a 
	background-color Light
	color blue-boy
	padding 10px
	border-radius 10px
	font-size 16px
	margin 10px
	border 2px solid mavici
	
.productList a:hover
		background-color azul-intenso
		color blue-boy

.redButton
	border 1px solid black
	background-color red
	color white

@media screen and (min-width: 479px)

	.headerSlide
		height 250px

@media screen and (min-width: 639px)		
	
	.headerSlide
		height 300px
	
	.item-footer
		/*display inline-block*/

@media screen and (min-width: 767px)
	footer
		padding 30px 0 0 0
		
	header
		padding 0px
		text-align left
		background-color mavici

	nav
		display inline-block
		position relative
		background rgba(0,93,225,.6)
		margin 65px 0 0 0
		
		ul li
			width auto			

		ul li a 
			font-size 16px
			background-color rgba(0,0,0,0)
			border 0px

	.botonMenu
		display none
	
	.formulario
		display inline-block

	.headerSlide
		height 350px
		display inline-block
	
	.logo
		z-index 11
	
	.item-footer
		display inline-block
		vertical-align top
		margin 10px 15px
		border-left 3px solid blue-boy
		padding 0 0 0 5px
		
@media screen and (min-width: 979px)

	nav
		margin 15px 0 0 0
		height 70px
		position fixed
		text-align right
	.headerSlide
		height 600px
		
	.logo
		position fixed
		margin 0 
		padding 0
		top 5px
		left 15px
		width 250px
		
		img
			width 225px
	
	.productos, .productos2		
		box-sizing border-box
		display inline-block
		vertical-align top
	
	.productos
		width 40%
		
	.productos2
		width 59%
			
	.slide
		margin 0
		padding 0
	
	.servicios, .ilustracion
		display inline-block
		
	.servicios
		width 50%
		box-sizing border-box
		height 300px
	
	.ilustracion
		width 50%
		float right
		box-sizing border-box
		height 300px
	
	.quienes
		width 50%
		box-sizing border-box
		float right
	
	.ilustracion2
		width 50%
		box-sizing border-box

@keyframes deslizar
	0% 
		margin-left 0
	20% 
		margin-left 0
		
	25% 
		margin-left -100%
	45% 
		margin-left -100%
	
	50% 
		margin-left -200%
	70% 
		margin-left -200%
	
	75% 
		margin-left -300%
	100% 
		margin-left -300%
